{% extends "base.html" %}

{% block content %}
    <div>
        <li><a href = "/index"></a></li>
        <li><a href = "/list_prof/ol">/list_prof/ol</a></li>
        <li><a href = "/list_prof/ul">/list_prof/ul</a></li>
        <li><a href = "/distribution">/distribution</a></li>
        <li><a href = "/member/0"></a>/member/0</li>
        <li><a href = "/member/random">/member/random</a></li>
        <li><a href = "/room/female/22">/room/female/22</a></li>
        <li><a href = "/room/female/19">/room/female/19</a></li>
        <li><a href = "/room/male/22">/room/male/22</a></li>
        <li><a href = "/room/male/19">/room/male/19</a></li>
        <li><a href = "/astronaut_selection">/astronaut_selection</a></li>
    </div>
{% endblock %}