
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 10px;
    background: #f8f9fa;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 260px; /* отступ слева */
    font-size: 14px; /* размер всего текста */
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}